.search_input {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding: 5px 10px 5px 20px;
  border-width: 0px 0px 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(225, 225, 225);
  font-weight: bold;
  font-size: 13px;
  outline: none;
  background-color: transparent;
  color: rgb(51, 51, 51);
}

.logo {
  margin: 10px;
  height: 100px;
  padding: 17px;
}

@media only screen and (max-width: 150px) {
  .logo {
    margin: 10px;
    height: 75px;
    padding: 2px;
  }
}

.menu_list {
  padding-bottom: 80px;
  height: calc(100vh - 100px);
  overflow: auto;
}

.menu_list li {
  list-style: inside none none;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

.side_menu_item {
  display: flex;
  cursor: pointer;
  transition: all .2s;
  padding: 12.5px 20px;
  justify-content: space-between;
  font-size: 0.97em;
  text-transform: none;
  font-family: Roboto;
}

.side_menu_item:hover {
  color: rgb(50, 50, 159);
  background: rgb(225, 225, 225);
}

.menu_button {
  outline: none;
  user-select: none;
  background-color: rgb(242, 242, 242);
  color: rgb(50, 50, 159);
  display: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
  z-index: 100;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  bottom: 44px;
  width: 60px;
  height: 60px;
  padding: 0px 20px;
}

.menu_button_inside {
  user-select: none;
  width: 20px;
  height: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  color: rgb(50, 50, 159);
}

